!!! 5
html.no-js(ng-app="app")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content="initial-scale=1.5")
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='index.css')

    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')

  body(ng-controller="BodyCtrl", ng-cloak)
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') OrderCrunch POS
          .nav-collapse.collapse
            ul.nav(ng-show="loggedIn")
              li(ng-class="{'active':page=='home'}")
                a(ng-click="page='home'") Home
              li(ng-class="{'active':page=='inspector'}")
                a(ng-click="page='inspector'") Inspector
              li
                a(ng-click="logout()") Logout
              //- li
                //- a(href="mailto:support@ordercrunchapp.com") Contact
    .container(ng-show="page=='login'")
      // Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h2 Welcome to OrderCrunch POS.
        h3 Please Sign in.
        h4.text-error {{error}}
        form.form-horizontal
          .control-group
            label.control-label(for='inputEmail') Username
            .controls
              input#inputEmail(type='text', ng-model="username", placeholder='Username')
          .control-group
            label.control-label(for='inputPassword') Password
            .controls
              input#inputPassword(type='password', ng-model="password", placeholder='Password')
          .control-group
            .controls
              //- label.checkbox
              //-   input(type='checkbox')
              //-   | Remember me
              button.btn(type='submit', ng-click="login()") Sign in
    .container(ng-show="page=='home'", ng-controller="HomeCtrl")
      h4 Welcome {{username}}!
      h4 Printer status: 
        span.text-success(ng-show='status=="online"') online
        span.text-error(ng-show='status!="online"') offline
      h4(ng-show="status=='online'") Start receiving orders...
      //- h5 Printing orders...
      .row(ng-repeat="order in list")
        .span6
          textarea(oc-autosize, style="font-family:monospace;width: 300px;height:200px;", ng-model="order", disabled)
    .container(ng-show="page=='inspector'")
      include jade/inspector

    .container
      hr
      footer
        p © OrderCrunch 2013
        a(href="mailto:support@ordercrunchapp.com") Contact us (support@ordercrunchapp.com)

    script(src="../forge/all.js")
    script(src='js/kinvey-js-0.9.14.min.js')
    script(src='js/vendor/jquery-1.9.0.js')
    script(src='js/jquery.autosize.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/angular.js')

    link(rel='stylesheet', href='js/ng-grid/ng-grid.css')
    script(src='js/ng-grid/ng-grid-1.6.3.debug.js')
    // script(src='https://cdn.firebase.com/v0/firebase.js')

    script(src='index.js')
